button{
    background-color: transparent;
    border: 0;
    cursor:pointer;
    
}

button:hover .overlay {
    opacity: 1;
}

.overlay {
    
    transition: .5s ease;
    background-color: #e82100;
    position: absolute;
    top: 5px;
    left: 21px;
    height:158px;
    width: 158px;
    opacity: 0;
    -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     
  }

  .overlay p {
      color: #FFFFFF;
      font-family: 'Exo', serif;
      font-size: 10px;
      justify-content: center;
	  align-items: center;
	  text-align: center;
      margin:0px auto;
      padding:24%;
  }


.headersochi {

    background: #000;
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: solid 5px #e72108;
}

.footersochi {
    background: #000;
    left: 0;
    bottom: 0;
    padding: 10px;
}

.subtitulo {
    color: #fff;
    padding: 15px;;
}


.countdown {
    border: 3px #FFF solid;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: inline-block;
    margin-left: 5px;
    justify-content: center;
	align-items: center;
	text-align: center;
    padding:1%;
    
   
}

.countdown p {
  
    font-size: 18px;
    color: #FFF;
    font-weight: 900;   
}

.video-responsive {
    overflow:hidden;
    padding-bottom:370px; 
    position:relative;
    height:0;
    margin-top: 27px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:315;
    width:560;
   
}

.control {
    background: #232323;
    padding: 50px 0 50px 0;
    border-bottom: 3px solid #353535;
    
}


.social {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.titulovideo {
    color:#FFF;
    font-size: 10px;
    font-family: 'Exo';

}
.separador {
    margin-top: 20px;
    margin-bottom: 20px;
}


